.login-container {
    text-align: center;
    max-width: 30rem;
    width: 90%;
    margin: auto;
    margin-top: 18%;
    position: relative;
    background-color: #0c434c;
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  }
  
  .login-container h1 {
    font-size: 2rem;
    margin-top: 0;
  }

  .login-container label {
    padding-right: 5%;
  }

  .login-container button {
    margin-left: 5%;
  }

  .password {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .error {
    color: red;
  }